.container {
    width: 100%;
}
.main {
    width: 827px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.header {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.subtitle {

}

.timer {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 783px;
    left: 826px;
}
.row{

}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    border: 2px brown solid;
}